@font-face {
    font-family: "Aquire";
    src: url("../fonts/Aquire-BW0ox.otf");
}

@font-face {
    font-family: "Aquire Bold";
    src: url("../fonts/AquireBold-8Ma60.otf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: "Chilanka Regular";
    src: url("../fonts/Chilanka-Regular.ttf");
}

.theme-dark {
    /*everycolor in the header {*/
    --nav-header-bg: rgb(6, 18, 32);
    --main-list-a-color: rgb(201, 201, 201);
    --main-list-a-bg-hover: rgb(4, 12, 20);
    --submenu-li-a-bg: rgb(28, 41, 46);
    --submenu-a-bg-hover: #010e0f;
    --github-img: url("../img/github_logo.png");
    --github-fill: rgb(196, 195, 195);
    --github-hover-fill: rgb(78, 86, 88);
    --home-img: url("../img/house_white.png");
    --home-fill: rgb(227, 246, 252);
    /*}*/

    --body-bg: rgb(18, 34, 44);
    --main-text-color: rgb(193, 209, 206);
    --color-link: #faa;
    --main-article-bg: rgb(1, 17, 36);
    --main-title-color: rgb(236, 163, 3);
    --main-title-bg: rgb(46, 54, 61);
    --main-section-bg: rgb(11, 29, 39);
    --main-section-h2-color: #18d6bd;
    --main-section-h3-color: #79df93;
    --main-section-h4-color: #d1e49e;
    --main-section-border-color: #081a27;
    --main-section-h2-conclusion-color: rgb(0, 189, 142);
    --table-border: #657473;

    --main-aside-bg: rgb(26, 29, 31);
    --main-aside-nav-bg: rgb(7, 11, 19);
    --main-aside-nav-color: #d4dada;
    --nav-aside-hv-color: rgb(221, 255, 100);
    --nav-aside--li-hv-color: rgb(152, 228, 137);
    --aside-a-1-bg: rgba(1, 16, 26, 0.658);
    --aside-a-1-bt: 1px solid rgb(36, 153, 108);
    --aside-a-2-bg: rgba(11, 27, 24, 0.658);
    --aside-a-2-bt: 1px solid rgb(119, 131, 13);
    --aside-a-3-bg: rgba(4, 23, 24, 0.658);
    --aside-a-3-bt: 1px solid rgb(153, 73, 36);
}

.theme-light {
    /*Every color in the header {*/
    --nav-header-bg: rgb(1, 37, 46);
    --main-list-a-color: rgb(202, 241, 238);
    --main-list-a-bg-hover: rgb(1, 25, 31);
    --submenu-li-a-bg: rgb(0, 32, 29);
    --submenu-a-bg-hover: rgb(0, 20, 18);
    --github-img: url("../img/github_logo.png");
    --github-fill: rgb(45, 173, 146);
    --github-hover-fill: rgb(25, 97, 100);
    --home-img: url("../img/house_white.png");
    --home-fill: rgb(103, 214, 214);
    /*}*/

    /*Color in the body{*/
    --body-bg: rgb(10, 100, 85);
    --main-text-color: rgb(0, 20, 19);
    --color-link: rgb(230, 0, 0);
    --main-article-bg: rgb(3, 143, 120);
    --main-title-color: rgb(236, 163, 3);
    --main-title-bg: rgb(73, 104, 97);
    --main-section-bg: rgb(162, 199, 199);
    --main-section-h2-color: #050761;
    --main-section-h3-color: #033636;
    --main-section-h4-color: #005b6b;
    --main-section-border-color: #58f4f4;
    --main-section-h2-conclusion-color: rgb(10, 95, 29);
    --table-border: #657473;

    --main-aside-bg: rgb(3, 92, 99);
    --main-aside-nav-bg: rgb(9, 26, 27);
    --main-aside-nav-color: rgb(224, 255, 243);
    --nav-aside-hv-color: rgb(240, 145, 145);
    --nav-aside--li-hv-color: rgb(255, 166, 0);
    --aside-a-1-bg: rgba(1, 16, 26, 0.658);
    --aside-a-1-bt: 1px solid rgb(36, 153, 108);
    --aside-a-2-bg: rgba(8, 17, 15, 0.658);
    --aside-a-2-bt: 1px solid rgb(119, 131, 13);
    --aside-a-3-bg: rgba(11, 8, 19, 0.623);
    --aside-a-3-bt: 1px solid rgb(155, 97, 22);
    /*}*/
}

:root {
    --nav-bar-height: 80px;
    --top-offset: 20px;
}
* {
    box-sizing: border-box;
}
.flex {
    display: flex;
    align-items: center;
}
html,
body,
.root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
/* The menu */
.app-header-nav {
    font-family: "Aquire";
    font-size: 18px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    height: var(--nav-bar-height);
    background-color: var(--nav-header-bg);
    transition: background-color ease-out 0.8s, color ease 1.5s;
}

.app-header-left-items {
    text-decoration: none;
    justify-content: center;
    flex-basis: 100px;
}

.acem-icon {
    margin-left: 5px;
    border-radius: 50%;
    display: block;
    width: 65px;
}

.nav-title {
    padding-left: 3px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}

.nav-title-item {
    display: block;
    border: 1px solid #0011fe1e;
    background-color: #ff880010;
    border-radius: 5px;
}

.cra {
    margin-left: -4px;
    color: #0cffa2;
}

.acem {
    color: rgb(139, 226, 105);
}
.kenitra {
    margin-left: -4px;
    color: #20fffb;
}

.right-item {
    flex-basis: 100px;
}

.app-header-right-items {
    justify-content: space-between;
    align-items: stretch;
    flex-basis: 95px;
}

.app-header-github-icon {
    font-size: 2.01em;
    color: var(--github-fill);
}

.app-header-github-icon:hover {
    color: var(--github-hover-fill);
}

.app-content {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    padding-top: var(--nav-bar-height);
    z-index: 100;

    background-color: var(--main-article-bg);
    font-family: -apple-system, BlinkMacSystemFont, Ubuntu, "Segoe UI", Roboto,
        Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow: hidden;

    align-items: stretch;
}

.app-left-side,
.app-table-of-content {
    position: relative;
    top: 0;
    height: 100%;
    font-size: 100%;
    flex: 15%;
    transition: all 0.5s ease-in-out;

    overflow: hidden;
    font-family: "Chilanka Regular"; /*Imported font*/
    background-color: var(--main-aside-nav-bg);
    color: var(--main-aside-nav-color);
}

.toc-wrapper {
    position: relative;
    top: 0;
    height: 100%;
    flex: 100%;
    overflow-y: scroll;
    padding: 0;
    margin: 0;

    flex-direction: column;
    align-items: flex-start;
}

.hidden {
    visibility: hidden;
}

.opacity_1 {
    opacity: 1;
}

.opacity_0 {
    opacity: 0;
}

.app-left-side-title {
    padding: 10px 0 0 0px;
    text-align: center;
    font-size: 160%;
}

.table-of-content-list {
    display: flex;
    flex-direction: column;
    line-height: 2;
    align-items: flex-start;
}

.table-of-content-list > li li {
    margin-left: -27px;
    margin-bottom: 2px;
}

.table-of-content-nav li {
    list-style-type: none;
}

.table-of-content-nav a {
    color: var(--main-aside-nav-color);
    text-decoration: none;
    padding: 0;
    display: inline-block;
    text-align: left;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.table-of-content-nav li a:hover {
    padding-bottom: 1px;
}

.table-of-content-list > li > a:hover {
    /* co lor: var(--nav-aside-hv-color); */
    background-color: var(--aside-a-1-bg);
    border-bottom: var(--aside-a-1-bt);
}

.table-of-content-list > li li > a:hover {
    /* color: var(--nav-aside--li-hv-color); */
    background-color: var(--aside-a-2-bg);
    border-bottom: var(--aside-a-2-bt);
}

.table-of-content-list > li ul > li li > a:hover {
    /* color: var(--nav-aside--li-li-hv-color); */
    background-color: var(--aside-a-3-bg);
    border-bottom: var(--aside-a-3-bt);
}

.table-of-content-list {
    padding: 0 15px 3px 5px;
}
.content-wrapper {
    position: relative;
    flex: 60%;
    padding: 30px 8px;
    /* padding-top: 50px ; */
    scrollbar-color: rgb(21, 29, 2) rgb(180, 153, 109);
    overflow: auto;
}

.main-article {
    position: relative;
    color: var(--main-text-color);
    scroll-behavior: smooth;
}

.main-header {
    font-size: 120%;
}

.main-title {
    padding: 50px 25px;
    text-align: center;
    margin: 0 0 15px;
    font-size: 50px;
    color: var(--main-title-color);
    background-color: var(--main-title-bg);
    border-radius: 10px;
}

.main-section {
    background-color: var(--main-section-bg);
    padding: 20px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid var(--main-section-border-color);
    letter-spacing: 0.05em;
    line-height: 1.39em;
    transition: width ease 1.5s;
}

.main-section:first-child {
    margin-bottom: 0;
    border-bottom: 1px #010e0f solid;
}

@media screen and (min-width: 472px) {
    .main-section {
        letter-spacing: 0.05em;
        line-height: 1.39em;
    }
}

.main-section h2 {
    color: var(--main-section-h2-color);
    font-size: 170%;
}

.nav-btn-wrapper {
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: stretch;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-basis: 90%;
}
.nav-btn-item {
    border-radius: 2px;
    flex: 1 0 40%;
    max-width: 410px;
    padding: 20px 15px;
    cursor: pointer;
    text-align: left;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 17, 13);
    color: #919631d2;
    border: 1px solid rgb(6, 110, 110);
    box-shadow: 1px 1px 5px rgb(0, 4, 21);
    outline: red;
}

/* .next-btn {
} */

/* .nav-btn-text {
    display: flex;
} */
